.dev-info-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 150px;
        height: 150px;
    }
}

.dev-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    @media(max-width: 576px){
        h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 39.01px;
        }
        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.5px;
        }
    }
    @media(min-width: 576px){
        h2 {
            font-size: 40px;
            font-weight: 700;
            line-height: 58.51px;
        }
        h3 {
            font-size: 20px;
            font-weight: 400;
            line-height: 19.5px;
        }
    }
    @media(min-width: 768px){
        h2 {
            font-size: 48px;
            font-weight: 700;
            line-height: 58.51px;
        }
        h3 {
            font-size: 24px;
            font-weight: 400;
            line-height: 19.5px;
        }
    }
}